/02 Programación estructurada/01 Verificación de Año Bisiesto/nbproject/private/
/02 Programación estructurada/01 Verificación de Año Bisiesto/build/
/02 Programación estructurada/02 Determine el mayor de tres números/nbproject/private/
/02 Programación estructurada/02 Determine el mayor de tres números/build/
/02 Programación estructurada/03 Clasificación de edad/nbproject/private/
/02 Programación estructurada/03 Clasificación de edad/build/
/02 Programación estructurada/Calculadora de descuento/nbproject/private/
/02 Programación estructurada/Calculadora de descuento/build/
/02 Programación estructurada/05 Suma de números pares/nbproject/private/
/02 Programación estructurada/05 Suma de números pares/build/
/02 Programación estructurada/06 Contador de Positivos, Negativos y Ceros/nbproject/private/
/02 Programación estructurada/06 Contador de Positivos, Negativos y Ceros/build/
/02 Programación estructurada/07 Validación de nota/nbproject/private/
/02 Programación estructurada/07 Validación de nota/build/
